.modal_heading{
    background-color: #DEE2E6;
    color: #212529;
}

.timing_div{
    background-color: #F1F3F5;
}

.grey_text{
    color: #858E96;
}

.btn_gradient{
    color: transparent; 
    background-clip: text;
  background-image: linear-gradient(to right, #3A36DB, #7C4EF1);
}


.btn_error{
    color: #EA3A3D;
    border-color: #EA3A3D;
}

.add_btn{
    background-image: linear-gradient(to right, #3A36DB, #7C4EF1);
    color: white;
}